
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Conference</title>

    <!-- css -->
    <link rel="stylesheet" href= {% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %} >
    <link rel="stylesheet" href= {% static "bower_components/ionicons/css/ionicons.min.css" %} >
    <link rel="stylesheet" href= {% static "assets/css/main.css" %} >
    <link rel="stylesheet" href= {% static "assets/css/Custommain.css" %} >
    
</head>
<body data-spy="scroll" data-target="#site-nav">
    <nav id="site-nav" class="navbar navbar-fixed-top navbar-custom">
        <div  class="container">
            <div class="navbar-header">

                <!-- logo -->
                <div class="site-branding">
                    <a class="logo" href="index.html">
                        
                        <!-- logo image  -->
                        <img src= {% static "assets/images/logo.png"  %} alt="Logo">

                        V / S EVENTS
                    </a>
                </div>

                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-items" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div><!-- /.navbar-header -->

            <div   class="collapse navbar-collapse" id="navbar-items">
                <ul  class="nav navbar-nav navbar-right">

                    <!-- navigation menu -->
					
                    <li class="active"><a  href={% url 'home' %}>Home</a></li>
                    <li><a href={% url 'events' %}>events</a></li>              
                    <li><a  href={% url 'gallery' %}>Gallery</a></li>                  
                    <li><a  href={% url 'career' %}>Career</a></li>  
					<li><a  href={% url 'contact' %}>Contact</a></li>  
					              
                    <!-- <li><a data-scroll href="#">Sponsorship</a></li> -->
					
                    {% if not request.user.is_authenticated %}
           
                    <li><a href={% url 'login' %}>Login</a></li>
                    <li><a   href={% url 'register' %} >Sign up</a></li>
                    {% endif %}

                    {% if request.user.is_authenticated %}
                    <li><a  href={% url 'bookedUPevents' %}>booked event</a></li>
            
                    <li><a  href={% url 'logout' %}>Log out</a></li>
                    <li><a  >{{request.user}}</a></li>

                    {% endif %}

                    
					
                
                </ul>
            </div>
        </div>
		<!-- /.container -->
    </nav>

{% block content %}

{% endblock %}

<footer class="site-footer">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <p class="site-info">Designed and <br> Developed by <a href="http://technextit.com">Technext Limited</a></p>
              <ul class="social-block">
                  <li><a href=""><i class="ion-social-twitter"></i></a></li>
                  <li><a href=""><i class="ion-social-facebook"></i></a></li>
                  <li><a href=""><i class="ion-social-linkedin-outline"></i></a></li>
                  <li><a href=""><i class="ion-social-googleplus"></i></a></li>
              </ul>
          </div>
      </div>
  </div>
</footer>

<!-- script -->
<script src= {% static "bower_components/jquery/dist/jquery.min.js" %} ></script>
<script src= {% static "bower_components/bootstrap/dist/js/bootstrap.min.js" %} ></script>
<script src= {% static "bower_components/smooth-scroll/dist/js/smooth-scroll.min.js" %} ></script>
<script src= {% static "assets/js/main.js" %} ></script>
</body>
</html>