{% extends 'base.html' %}

{% block content %}

<section style="background: black;" id="location" class="section location">
    <div class="container">
        <div class="row">
            <div style="color: white;" class="col-sm-3">
                <h3 style="color: white;" class="section-title">Locate Us</h3>
                <address>
                    <p>Chelannur<br> kozhikod<br> <br> Phone: +91 7994518807<br> Email: Vsevents@mail.com</p>
                </address>
            </div>
            <div class="col-sm-9">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d822.3178350081542!2d75.79852856430094!3d11.362086084212104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba661397e487bb5%3A0x3f02fc66ff25c1b1!2sCFC!5e0!3m2!1sen!2sin!4v1719472193108!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock %}