{% extends "base.html" %} 

{% block content %}

<div style="width: 100%; height: 85px; background-color: black; display: flex; justify-content: center; z-index: -1; " >

</div>

<h1 style="text-align: center;" >Gallery</h1>
<div style="width: 100%; display: flex; justify-content: center; " >

  
  <div  style=" display: flex; flex-wrap: wrap; width: 90%; justify-content: center; margin: 20px; ">
    
    
    {% for i in images %}
    <div class="">
      
      
      
      <div class="col"style="object-fit: cover; padding: 5px; " >
        <div style="object-fit: cover;" class="card h-100">
          <img  style="object-fit: cover; height: 250px; width: 450px;" src={{i.image.url}} class="card-img-top" alt="...">
        </div>
      </div>
    </div>
    
    {% endfor %}
    
  </div>
</div>
{% endblock %}